{% extends 'polls/base.html' %}
{% block main_content %}

			<div class="container">

			  <h2>Badanie sentymentów</h2>
			  <!--/ PROGRESS-->
			<div class="progress">
				<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100"
					aria-valuemin="0" aria-valuemax="100" style="width:{{ counter_bar }}%">
					{{ counter }}/30
				</div>
			</div>
			  
			  <!--/ TUTAJ TREŚĆ WPISU!!!!-->
			  <div class="well"> {{ question.question_text}} </div>
			  <br>
			  <p>Prosze wybrać odpowiednią opcję:</p>
			  <br>

               	{% if error_message %}
					<div class="alert alert-danger" role="alert">
						{{ error_message }}
					</div>
				{% endif %}


			  <form class="form-horizontal" role="form" action="{% url 'polls:vote' question.id %}" method="post">

                  {% csrf_token %}

				<div class="form-group">
				
					<label class="col-sm-4 control-label">Sentymenty:</label>
					<div class="col-sm-8">

                        {% for choice in question.choice_set.all %}

						<label class="radio-inline"> <input type="radio" name="choice" id="choice{{forloop.counter}} "
															value="{{choice.id}}"> {{ choice.answer_text }}  </label>
						{% endfor %}

					</div>
				</div>

				  <div class="form-group">

					<label for="choice2" class="col-sm-4 control-label">Które słowo najbardziej wpłynęło na ocenę?</label>
					<div class="col-sm-8">
					<select class="form-control" id="choice2" name="choice2">

						{% for choice2 in question.choice2_set.all %}
						<option name="choice2" id="choice2{{forloop.counter}} " value="{{choice2.id}}">{{ choice2 }}</option>
						{% endfor %}

					</select>
					</div>

				  </div>
				
				<br><br>
				<button type="submit" class="btn btn-success">Następny wpis</button>
			  </form>

			</div>

{% endblock %}